.Pokedex {
  text-align: center;
}

.Pokedex-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Pokedex-winner {
  color: rgb(61, 61, 219);
}

.Pokedex-loser {
  color: red;
}

.Pokedex-exp {
  font-weight: bolder;
  font-size: 20px;
}